@font-face {
    font-family: 'Subway TickerOld';
    src: url('./fonts/SubwayTicker.eot');
    src: url('./fonts/SubwayTicker.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SubwayTicker.woff') format('woff'),
    url('./fonts/SubwayTicker.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Subway Ticker';
    src: url('./fonts/8bitoperatorRegular.eot');
    src: url('./fonts/8bitoperatorRegular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/8bitoperatorRegular.woff') format('woff'),
    url('./fonts/8bitoperatorRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    font-family: 'Subway Ticker';
}

.messageWindow {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* BEGIN animations */

@keyframes fadeout {
    0% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

@keyframes fadein {
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.displayNone {
    display: none;
}

/* END animations */


/* BEGIN generic */
.clickable {
    cursor: pointer;
}
/* END generic */


/* BEGIN bottom UI */

.gameScreen .bottomUI {
    width: 100%;
    outline: 1px dotted blue;
    height: 21rem;
    bottom: 1rem;
}

/* END bottom UI */



/* BEGIN play area */

.sprite {
    background-size: 100% 100%;
}
.gameScreen .playArea {
    outline: 3px dotted #555;
    width: 100%;
    height: 480rem;
    top: 82rem;
    overflow:hidden;
}

.gameScreen .playArea .shipInterior {
    height: 100%;
    width: 5000rem;
    left: -500rem;
}

.gameScreen .playArea .shipInterior .backWall {
    height: 100%;
    width: 100%;
    background-image: url('./img/env/environs_BACK.png');
}

.gameScreen .playArea .shipInterior .interactable {
    height: 34rem;
    width: 30rem;
    outline: 1px dotted rgba(255,255,255,0.2);
    bottom: 128rem;
}
.gameScreen .playArea .shipInterior .jailcell {
    bottom: 153em;
    width: 142em;
    height: 166em;
}
.gameScreen .playArea .shipInterior .jailcell.first {
    left: 1561rem;
}
.gameScreen .playArea .shipInterior .jailcell.second {
    left: 2014rem;
}
.gameScreen .playArea .shipInterior .jailcell.third {
    left: 2466rem;
}
.gameScreen .playArea .shipInterior .jailcell.fourth {
    left: 2926rem;
}
.gameScreen .playArea .shipInterior .jailcell.fifth {
    left: 3387rem;
}

.gameScreen .playArea .shipInterior .wantedposter {
    bottom: 212em;
    width: 22em;
    height: 36em;
    outline: 1px dotted rgba(255,0,0,0.1);
}
.gameScreen .playArea .shipInterior .wantedposter.first {
    left: 1482rem;
}
.gameScreen .playArea .shipInterior .wantedposter.second {
    left: 1935rem;
}
.gameScreen .playArea .shipInterior .wantedposter.third {
    left: 2387rem;
}
.gameScreen .playArea .shipInterior .wantedposter.fourth {
    left: 2846rem;
}
.gameScreen .playArea .shipInterior .wantedposter.fifth {
    left: 3307rem;
}



.gameScreen .playArea .shipInterior .bunk {
    outline: 1px dotted white;
    height: 141rem;
}
.gameScreen .playArea .shipInterior .bunk.bed{
    left: 752rem;
    font-size: 21rem;
    color: rgba(255,255,255,0.5);
}
.gameScreen .playArea .shipInterior .office-front {
    height: 383rem;
    width: 142rem;
    background-image: url('./img/env/doorway_TOP.png');
    left: 4170rem;
    bottom: 74rem;
}

#player {
    height: 128rem;
    width: 64rem;
    background-image:url('./img/sprites/player/player_idle.png');
    bottom: 128rem;
    left: 500rem;
}
@keyframes player-walking {
    0% { background-image: url('./img/sprites/player/player_walk_1.png'); }
    25% { background-image: url('./img/sprites/player/player_walk_2.png'); }
    50% { background-image: url('./img/sprites/player/player_walk_3.png'); }
    75% { background-image: url('./img/sprites/player/player_walk_4.png'); }
}
#player.walking {
    animation-name: player-walking;
    animation-duration: 1s;
    animation-play-state:running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#player.walkRight {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}
/* END play area */


/* BEGIn popup ui */
.gameScreen .popupUI {
    width: 100%;
    height: 100%;
    background: rgba(8, 10, 48, 0.59);
}

.gameScreen .popupUI.hidden {
    display: none;
}

.gameScreen .popupUI .popupWindow {
    width: 100%;
    height: 204rem;
    bottom: 0;
}

.gameScreen .popupUI .portrait {
    width: 128rem;
    height: 128rem;
    bottom: 137rem;
    left: 83rem;
}

.gameScreen .popupUI .portrait .picture {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}


.gameScreen .popupUI .portrait[character="drator"] .picture {
    background-image: url('./img/portrait/drator/neutral.png');
}
.gameScreen .popupUI .portrait[character="drator"][emotion='offended'] .picture {
    background-image: url('./img/portrait/drator/offended.png');
}


.gameScreen .popupUI .portrait[character="ueni"] .picture {
    background-image: url('./img/portrait/ueni/neutral.png');
}
.gameScreen .popupUI .portrait[character="ueni"][emotion='offended'] .picture {
    background-image: url('./img/portrait/ueni/offended.png');
}


.gameScreen .popupUI .portrait[character="arev"] .picture {
    background-image: url('./img/portrait/arev/neutral.png');
}
.gameScreen .popupUI .portrait[character="arev"][emotion='offended'] .picture {
    background-image: url('./img/portrait/arev/offended.png');
}


.gameScreen .popupUI .portrait[character="enk"] .picture {
    background-image: url('./img/portrait/enk/neutral.png');
}
.gameScreen .popupUI .portrait[character="enk"][emotion='offended'] .picture {
    background-image: url('./img/portrait/enk/offended.png');
}


.gameScreen .popupUI .portrait[character="ebena"] .picture {
    background-image: url('./img/portrait/ebena/neutral.png');
}
.gameScreen .popupUI .portrait[character="ebena"][emotion='offended'] .picture {
    background-image: url('./img/portrait/ebena/offended.png');
}


.gameScreen .popupUI .portrait .eminata {
    width: 16rem;
    height: 16rem;
    background-size: 100% 100%;
    left: 22em;
    top: 13em;
}

.gameScreen .popupUI .conversationWindow {
    background: rgba(0, 0, 86, 0.5);;
    width: 568rem;
    height: 131rem;
    top: 8rem;
    left: 210rem;
    border-radius: 10rem;
}

.gameScreen .popupUI .conversationWindow .name {
    top: -21rem;
    left: 16rem;
    width: 194rem;
    height: 41rem;
    display: block;
    background: rgb(0, 56, 56);
    padding: 5rem 27rem;
    border-radius: 6rem;
    box-shadow: .4rem .6rem .6rem rgba(0,0,0,0.3);
    font-size: 14rem;
    line-height: 13rem;
    color: #A6FFFB;
    text-shadow: 0 0 .2em #65E1DC;
}

.gameScreen .popupUI .conversationWindow .statement {
    top: 8rem;
    left: 16rem;
    width: 526rem;
    height: 41rem;
    display: block;
    background: rgb(1, 93, 93);
    padding: 5rem;
    border-radius: 7rem;
    border-top-left-radius: 0;
    box-shadow: .4rem .6rem .6rem rgba(0,0,0,0.3);
    font-size: 10rem;
    line-height: 12rem;
    color: #FFFFFF;
    text-shadow: 0 0 .2em rgba(255,255,255,1);
}

.gameScreen .popupUI .conversationWindow .responses {
    bottom: 8rem;
    left: 16rem;
    width: 533rem;
    height: 55rem;
    background: #002a69;
    padding: 1.5rem;
    border-radius: 7rem;
    box-shadow: .4rem .6rem .6rem rgba(0,0,0,0.3);
    font-size: 9rem;
    line-height: 1.4em;
    color: #FFFFFF;
    text-shadow: 0 0 .2em rgba(255,255,255,1);
}

.gameScreen .popupUI .conversationWindow .responses .responseChoice {
    width: 258rem;
    height: 22rem;
    border: 1px solid #FFFFFF;
    border-radius: 3rem;
    padding: 0.6rem 0 0 1rem;
    font-size: 1.1em;
    display: none;
}
.gameScreen .popupUI .conversationWindow .responses .responseChoice.visible {
    display: block;
}
.gameScreen .popupUI .conversationWindow .responses .responseChoice.bottom {
    top:30rem;
}
.gameScreen .popupUI .conversationWindow .responses .responseChoice.right {
    left: 271rem;
}
/* END popup UI */


/* BEGIN eminata */
.gameScreen .popupUI .portrait.neutral .eminata {
    background-image: url('./img/eminata/heart.png');
}
/* END eminata */


/* BEGIN portraits */
.gameScreen .popupUI .portrait.hugh.neutral .picture {
    background-image: url('./img/portrait/hugh/neutral-2.png');
}
/* END portraits */

