@font-face {
    font-family: 'Subway Ticker';
    src: url('./fonts/SubwayTicker.eot');
    src: url('./fonts/SubwayTicker.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SubwayTicker.woff') format('woff'),
    url('./fonts/SubwayTicker.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    font-family: 'Subway Ticker';
}

.messageWindow {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* BEGIN animations */

@keyframes fadeout {
    0% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

@keyframes fadein {
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.displayNone {
    display: none;
}

/* END animations */


/* BEGIN generic */
.clickable {
    cursor: pointer;
}
/* END generic */


/* BEGIN bottom UI */

.gameScreen .bottomUI {
    width: 100%;
    outline: 1px dotted blue;
    height: 21rem;
    bottom: 1rem;
}

/* END bottom UI */



/* BEGIN play area */

.sprite {
    background-size: 100% 100%;
}
.gameScreen .playArea {
    outline: 3px dotted #555;
    width: 100%;
    height: 480rem;
    top: 82rem;
    overflow:hidden;
}

.gameScreen .playArea .shipInterior {
    height: 100%;
    width: 5000rem;
    left: -500rem;
}

.gameScreen .playArea .shipInterior .backWall {
    height: 100%;
    width: 100%;
    background-image: url('./img/env/environs_BACK.png');
}

.gameScreen .playArea .shipInterior .interactable {
    height: 34rem;
    width: 30rem;
    outline: 1px dotted white;
    bottom: 128rem;
}
.gameScreen .playArea .shipInterior .jailcell {
    outline: 1px dotted red;
    bottom: 153em;
    width: 142em;
    height: 166em;
}
.gameScreen .playArea .shipInterior .jailcell.first {
    left: 1561rem;
}
.gameScreen .playArea .shipInterior .jailcell.second {
    left: 2014rem;
}
.gameScreen .playArea .shipInterior .jailcell.third {
    left: 2466rem;
}
.gameScreen .playArea .shipInterior .jailcell.fourth {
    left: 2926rem;
}
.gameScreen .playArea .shipInterior .jailcell.fifth {
    left: 3387rem;
}

.gameScreen .playArea .shipInterior .bunk {
    outline: 1px dotted white;
}
.gameScreen .playArea .shipInterior .bunk .bed{
    left: 210rem;
}

#player {
    height: 128rem;
    width: 64rem;
    background-image:url('./img/sprites/player/player_idle.png');
    bottom: 128rem;
    left: 500rem;
}
#player.walkRight {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}
/* END play area */


/* BEGIn popup ui */
.gameScreen .popupUI {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}

.gameScreen .popupUI.hidden {
    display: none;
}

.gameScreen .popupUI .popupWindow {
    width: 100%;
    height: 204rem;
    bottom: 0;
}

.gameScreen .popupUI .portrait {
    width: 128rem;
    height: 128rem;
    bottom: 121rem;
    left: 22rem;
}

.gameScreen .popupUI .portrait .picture {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
.gameScreen .popupUI .portrait[character="ebena"] .picture {
    background-image: url('./img/portrait/ebena/neutral.png');
}
.gameScreen .popupUI .portrait[character="ebena"][emotion='offended'] .picture {
    background-image: url('./img/portrait/ebena/offended.png');
}

.gameScreen .popupUI .portrait[character="TWO"] .picture {
    background-image: url('./img/portrait/TWO/neutral.png');
}
.gameScreen .popupUI .portrait[character="TWO"][emotion='offended'] .picture {
    background-image: url('./img/portrait/TWO/offended.png');
}

.gameScreen .popupUI .portrait[character="THREE"] .picture {
    background-image: url('./img/portrait/THREE/neutral.png');
}
.gameScreen .popupUI .portrait[character="THREE"][emotion='offended'] .picture {
    background-image: url('./img/portrait/THREE/offended.png');
}

.gameScreen .popupUI .portrait[character="FOUR"] .picture {
    background-image: url('./img/portrait/FOUR/neutral.png');
}
.gameScreen .popupUI .portrait[character="FOUR"][emotion='offended'] .picture {
    background-image: url('./img/portrait/FOUR/offended.png');
}

.gameScreen .popupUI .portrait[character="FIVE"] .picture {
    background-image: url('./img/portrait/FIVE/neutral.png');
}
.gameScreen .popupUI .portrait[character="FIVE"][emotion='offended'] .picture {
    background-image: url('./img/portrait/FIVE/offended.png');
}


.gameScreen .popupUI .portrait .eminata {
    width: 16rem;
    height: 16rem;
    background-size: 100% 100%;
    left: 22em;
    top: 13em;
}

.gameScreen .popupUI .conversationWindow {
    background: rgba(0, 0, 86, 0.5);;
    width: 855rem;
    height: 170rem;
    top: -2rem;
    left: 115rem;
    border-radius: 10rem;
}

.gameScreen .popupUI .conversationWindow .statement {
    top: -6rem;
    left: 13rem;
    width: 511rem;
    height: 40rem;
    display: block;
    background: rgb(1, 93, 93);
    padding: 5rem;
    border-radius: 7rem;
    border-top-left-radius: 0;
    box-shadow: .4rem .6rem .6rem rgba(0,0,0,0.3);
    font-size: 13rem;
    line-height: 13rem;
    color: #FFFFFF;
    text-shadow: 0 0 .2em rgba(255,255,255,1);
}

.gameScreen .popupUI .conversationWindow .responses {
    bottom: 1rem;
    left: 35rem;
    width: 527rem;
    height: 52rem;
    background: #002a69;
    padding: 1.5rem;
    border-radius: 7rem;
    box-shadow: .4rem .6rem .6rem rgba(0,0,0,0.3);
    font-size: 9rem;
    line-height: 1.4em;
    color: #FFFFFF;
    text-shadow: 0 0 .2em rgba(255,255,255,1);
}

.gameScreen .popupUI .conversationWindow .responses .responseChoice {
    width: 237rem;
    height: 15rem;
    border: 1px solid #FFFFFF;
    border-radius: 3rem;
    padding: 0.6rem 0 0 1rem;
    font-size: .9em;
    display: none;
}
.gameScreen .popupUI .conversationWindow .responses .responseChoice.visible {
    display: block;
}
.gameScreen .popupUI .conversationWindow .responses .responseChoice.bottom {
    top:31rem;
    margin-left: 1rem;
}
.gameScreen .popupUI .conversationWindow .responses .responseChoice.right {
    left: 278rem;
}
/* END popup UI */


/* BEGIN eminata */
.gameScreen .popupUI .portrait.neutral .eminata {
    background-image: url('./img/eminata/heart.png');
}
/* END eminata */


/* BEGIN portraits */
.gameScreen .popupUI .portrait.hugh.neutral .picture {
    background-image: url('./img/portrait/hugh/neutral-2.png');
}
/* END portraits */
